@charset "UTF-8";

body {
    width: 40vw;
    height: 40vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div {
    border: 2px solid black;
    border-top: 10px;

}

div h1 {

    text-align: center;
    background-color: rgba(211, 211, 211, 0.526);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    ;
}

main {
    padding: 5px;
    min-width: 300px;
}

fieldset {
    background-color: rgba(211, 211, 211, 0.214);
    border: 2px dashed black;
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding-bottom: 1px;

}

fieldset#informacoes {
    height: 500px;
    padding-bottom: 20px;
}

footer {
    background-color: rgba(211, 211, 211, 0.526);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

footer p {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: blue;

}